.accueil .products{
    margin-top: 40px;
    margin-left: 60px;
    margin-bottom: 100px;
}
.accueil{
    padding-top: 60px;
}
.loader{
    text-align: center;
}
.each-slide > div {
    padding-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center top;
    height: 350px;
  }
  .each-slide > span {
    width: 100%;
    height: 100%;
  }